node_modules/
/back/checkout-web-api/checkout-web-api/obj
/back/checkout-web-api/.vs/checkout-web-api/v16
/local/checkout-web-local-api/.vs/checkout-web-local-api/v16
/local/checkout-web-local-api/checkout-web-local-api/bin/Debug
/local/checkout-web-local-api/packages
/local/checkout-web-local-api/checkout-web-local-api/obj/Debug
/back/checkout-web-api/checkout-web-api/bin/Debug/netcoreapp3.1
/back/checkout-web-api/.vs/checkout-web-api
*.dll
*.pdb
*.exe
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc